# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment
.env
.env.local

# Scratch files
scratch/

# Play Store Release Keystore files
playstore-release/keystore/*.jks
playstore-release/keystore/*.keystore
playstore-release/keystore/keystore-passwords.txt
android/local.properties
android/variables.gradle

# Gradle JDKs & Cache
.gradle_jdk/
.gradle_jdk21/
.firebase/
.freebuff/

